{% extends 'news/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
<br>
<div style="width:380px; text-align: center; margin-left: auto; margin-right: auto">
<h2>Lorem Ipsum</h2>
    <hr>
<p><i>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Integer et porta orci. Integer ullamcorper viverra interdum.
    Aenean lectus erat, faucibus nec semper vel, venenatis ut diam.
    Nulla tincidunt eleifend sem venenatis ultricies. Sed et feugiat
    neque. Etiam elementum non mauris eu rutrum. Fusce faucibus nisl
    a ex luctus dictum. Etiam feugiat in arcu non ultricies.
</i></p>
<p><i>
    Curabitur iaculis pharetra orci lacinia rutrum. Nam congue tempor
    ex, in imperdiet enim elementum quis. Praesent eu aliquet lorem.
    Curabitur accumsan enim et velit condimentum, a dapibus eros sodales.
    Vivamus fermentum erat ante, in sagittis nibh placerat vitae.
</i></p>
</div>
{% endblock content %}