{% extends 'default.html' %}

{% block content %}
<br>
<h6>Delete Comment to "{{ new.categoryType }}" id={{ new.id }}</h6>
<hr>
<p>Date of Creation : {{ new.datethis }}</p>
<h2 class="mark">{{ new.title }}</h2>
<p><i>Author: {{ new.author.authorUser.username }} </i></p>
<h5>{{ new.text }}</h5>
<p>Rating: {{ new.rating }} </p>
<br>
<h1>Delete Comment</h1>
<hr>
<p>Date of Creation : {{ comment.dateCreation|date:'d-m-Y, h:m:s' }}</p>
<div class="border border-2 border-danger px-3 pt-3 pb-0">
<p><i>Author: {{ comment.commentUser.username }} </i></p>
<h5>{{ comment.text }}</h5>
<p>Rating: {{ comment.rating }} </p>
</div>
<form action="" method="post">
    {% csrf_token %}
    <p class="inline-block">Удаляем комментарий id={{ comment.id }}?&nbsp;
    <input type="submit" class="mt-3 btn-primary" value="Delete" /></p>
</form>
{% endblock content %}