{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block content %}
{% if perms.news.post_edit or perms.news.post_delete %}
           <div style="display: inline-block; margin: 0;">
                <nav class="navbar navbar-expand-lg static-top">
                   <ul class="navbar-nav ml-auto">
                       <li class="nav-item">
                           {% if new.categoryType == 'NW' %}
                           <a class="nav-link" href="{% url 'post_edit' pk=new.id %}"><b>Edit News</b></a>
                           {% else %}
                           <a class="nav-link" href="{% url 'article_edit' pk=new.id %}"><b>Edit Article</b></a>
                           {% endif %}
                       </li>
                       <li class="nav-item">
                           {% if new.categoryType == 'NW' %}
                           <a class="nav-link" href="{% url 'post_delete' pk=new.id %}"><b>Delete News</b></a>
                           {% else %}
                           <a class="nav-link" href="{% url 'article_delete' pk=new.id %}"><b>Delete Article</b></a>
                           {% endif %}
                       </li>
                   </ul>
               </nav>
           </div>
{% endif %}
<br>
{% if new.categoryType == 'NW' %}
<h6>NEWS:</h6>
{% endif %}
{% if new.categoryType == 'AR' %}
<h6>ARTICLE:</h6>
{% endif %}

<h2>{{ new.title|display_some_bad_text }}</h2>
<p><i>Category: {% for c in new.catz %}
    <i>{{ c }}</i>
    {% endfor %}</i></p>
<p><i>Author: {{ new.author.authorUser.username }} </i></p>
<p class="lead">{{ new.text|display_some_bad_text }}</p>
<p>{{ new.dateCreation|date:'d-m-Y' }}</p>
<p>Rating: {{ new.rating }} </p>
<p><b>C o m m e n t s:  {{ post_comments_count }}</b></p>
{% for comment in post_comments %}
<p><b>{{ comment.text }}.</b><i> Author: {{ comment.commentUser.username }}; {{ comment.dateCreation|date:'d-m-Y' }}; Rating: {{ comment.rating }}</i></p>
{% endfor %}
{% endblock content%}