{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block content %}
<br>
<h1>Search News using this form:</h1>
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" class="mt-3 btn-primary" value="Найти" />
   </form>
<hr>
{% for new in news %}
<br>
<h2>{{ new.title|display_some_bad_text }}</h2>
<h6><i>{{ new.datethis }}; Author: {{ new.author.authorUser.username }}; Rating: {{ new.rating }}</i></h6>
<h6>{{ new.categoryType }} : Category:
    {% for c in new.catz %}
    <i>{{ c }}</i>
    {% endfor %}
    <h6>{{ new.id_ }}</h6>

</h6>
<h5><a href="{{ new.get_absolute_url }}">{{ new.text|truncatechars:20 }} </a></h5>
<br>
{% endfor %}
   {# Добавляем пагинацию на страницу #}

<div style="display: inline-block; text-align: center; margin: 0 auto;">
<nav aria-label="Page navigation example">
  <ul class="pagination">
   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
<li class="page-item"><a class="page-link" href="?{% url_replace page=1 %}">1</a></li>
       {% if page_obj.previous_page_number != 1 %}
           ...
<li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></li>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
      <li class="page-item page-link-2">{{ page_obj.number }}</li>

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
<li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
<li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a></li>
       {% endif %}
   {% endif %}

  </ul>
</nav>
</div>
{% endblock content %}
